fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20

langchain==0.3.14
langchain-core==0.3.29
langchain-community==0.3.14
langchain-groq==0.2.3

chromadb==1.5.8

# huggingface_hub==0.27.1

pypdf==5.1.0
python-dotenv==1.0.1
pydantic==2.10.4
requests==2.32.3
email-validator==2.2.0